.app {
  text-align: center;
  position: relative;

}

.sections {
  width: calc(100vw - 90px);
  scroll-snap-align: start;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  background: black;
  position: relative;
  left: 10px
}

.mainContainer {
  display: flex;
  position: relative;

  left: 70px;
}